# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

*.class

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#ignore the bin
bin/

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Metadata & Related Eclipse Garbage
.metadata/
RemoteSystemsTempFiles/
/src/GPATH
/src/GRTAGS
/src/GTAGS
/.classpath
/bin/
/bin/
/src/model/entity/#Summoner.java#
/img0.png
/img1.png
/img10.png
/img11.png
/img12.png
/img13.png
/img14.png
/img15.png
/img16.png
/img17.png
/img2.png
/img3.png
/img4.png
/img5.png
/img6.png
/img7.png
/img8.png
/img9.png
/target/
/tst/model/Key/GPATH
/tst/model/Key/GRTAGS
/tst/model/Key/GTAGS

